{% extends 'base.html' %}   <!-- base.html 의 블럭컨텐츠들을 가져올 수 있다 -->

{% block content %}

    <style>
        .test{
            text-align: center;
            font-family: 'Caveat', cursive;
            }
    </style>

    <div style="height: 20rem; background-color: #F0F8FF; border-radius: 1rem; margin: 2rem;">
        <h1 class="test">test</h1>      <!-- 스타일은 클래스로 따로 지정 -->

        <form action="/account/hello_world/" method="post">
            {% csrf_token %}    <!-- csrf 공격에 대한 방어 -->
            <div>
                <input type="text" name="hello_world_input">
            </div>
            <div>
                <input type="submit" class="btn btn-primary" value="POST">
            <!-- Submit 누르면 POST로 넘어간다 -->
            </div>
        </form>
        {% if hello_world_output %}
        <h1>{{ text }}</h1>
        {% endif %}
    </div>

{% endblock %}


