<!DOCTYPE html>
<html lang="en">

<body>
    <div style="text-align: center; margin-top: 2rem">
        <div class="photomatic_footer_button">
            <span>공지사항</span> |
            <span>서비스</span> |
            <span>문의하기</span> |
            <span>사이트맵</span>
        </div>
        <div>
            <h6 class="photomatic_footer_logo">Photomatic</h6>
            <!-- <h6 style="margin-top: 1rem; font-size:1rem; font-family: 'Caveat', cursive;">Photomatic</h6>  base.css 파일에 클래스 생성해서 이동시켜놓았다 -->
        </div>
    </div>
</body>
</html>
