<!DOCTYPE html>
<html lang="en">
<body>
    <div style="text-align: center; margin-bottom: 2rem; ">
        <h1 class="photomatic_header_logo">
            Photomatic
        </h1>
        <div class="photomatic_header_button">
            <span>nav1</span>
            <span>nav2</span>
            <span>nav3</span>
            {% if not user.is_authenticated %}  <!-- Login이 되어있지 않을경우 login 페이지로 이동 -->
            <a href="{% url 'accountapp:login' %}?next={{ request.path }}">
                <span>login</span>
            </a>
            {% else %}
            <a href="{% url 'accountapp:logout' %}?next={{ request.path }}">
                <span>logout</span>
            </a>
            {% endif %}
        </div>
    </div>
</body>
</html>
